In [1]:
import pandas as pd

In [2]:
df = pd.read_json('abogados.json')

In [3]:
df.head()

,fechaNacimiento,estaHabilitado,fechaJuramento,nroActaJuramento,fechaMatricula,cedula,nombre,apellido,matricula,sexo,universidad,egreso
0,1973-06-01,Si,2002-11-06,1161,2002-11-06,931761,ZUSAN KARIN,DOMENECH BAEZ,9232,Femenino,None,NaN
1,1981-07-21,Si,2010-11-10,1976,2010-11-10,2997589,ZURY ANALIZ,VELAZCO VELAZCO,24586,Femenino,Universidad Nacional de Pilar,2009.0
2,1992-04-01,Si,2020-12-23,4603,2020-12-23,5671015,ZUNY MARLENE,MATTO SOSA,57916,None,None,NaN
3,1972-06-28,Si,2017-04-10,3727,2017-04-10,1712692,ZUNY GRICELDA,CRISTALDO ORUE,46752,Femenino,None,NaN
4,1961-01-10,Si,2010-11-04,1973,2010-11-04,806752,ZUNY ELIZABETH,AGUIAR VELAZQUEZ,24497,Femenino,Universidad Nacional de Pilar,2009.0

In [5]:
df.columns

Index(['fechaNacimiento', 'estaHabilitado', 'fechaJuramento',
       'nroActaJuramento', 'fechaMatricula', 'cedula', 'nombre', 'apellido',
       'matricula', 'sexo', 'universidad', 'egreso'],
      dtype='object')