# ABOGADOS

In [83]:
import pandas as pd
import matplotlib.pyplot as plt

In [84]:
%matplotlib inline
plt.rcParams['figure.figsize'] = [12, 7]

In [91]:
df = pd.read_json('abogados.json')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56958 entries, 0 to 56957
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fechaNacimiento   56902 non-null  object
 1   estaHabilitado    56958 non-null  object
 2   fechaJuramento    56958 non-null  object
 3   nroActaJuramento  56958 non-null  int64
 4   fechaMatricula    56958 non-null  object
 5   cedula            56958 non-null  int64
 6   nombre            56958 non-null  object
 7   apellido          56958 non-null  object
 8   matricula         56958 non-null  int64
 9   sexo              47147 non-null  object
 10  universidad       31387 non-null  object
 11  egreso            31238 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 5.2+ MB

In [86]:
df.head()

,fechaNacimiento,estaHabilitado,fechaJuramento,nroActaJuramento,fechaMatricula,cedula,nombre,apellido,matricula,sexo,universidad,egreso
0,1973-06-01,Si,2002-11-06,1161,2002-11-06,931761,ZUSAN KARIN,DOMENECH BAEZ,9232,Femenino,None,NaN
1,1981-07-21,Si,2010-11-10,1976,2010-11-10,2997589,ZURY ANALIZ,VELAZCO VELAZCO,24586,Femenino,Universidad Nacional de Pilar,2009.0
2,1992-04-01,Si,2020-12-23,4603,2020-12-23,5671015,ZUNY MARLENE,MATTO SOSA,57916,None,None,NaN
3,1972-06-28,Si,2017-04-10,3727,2017-04-10,1712692,ZUNY GRICELDA,CRISTALDO ORUE,46752,Femenino,None,NaN
4,1961-01-10,Si,2010-11-04,1973,2010-11-04,806752,ZUNY ELIZABETH,AGUIAR VELAZQUEZ,24497,Femenino,Universidad Nacional de Pilar,2009.0

In [87]:
def show_columns():
    for i in df.columns:
        print('---> ', i)

In [88]:
show_columns()

--->  fechaNacimiento
--->  estaHabilitado
--->  fechaJuramento
--->  nroActaJuramento
--->  fechaMatricula
--->  cedula
--->  nombre
--->  apellido
--->  matricula
--->  sexo
--->  universidad
--->  egreso

## VER COLUMNA POR COLUMNA VALORES NULOS

In [89]:
cols = [i for i in df.columns]

In [109]:
# LET'S PRINT ALL THE COLUMNS WITH MISSING VALUES
for k,v in enumerate(cols):
    s = df[v].isna().sum()
    if(s>0):
        print(f'VALORES NULOS {v}', s)

VALORES NULOS universidad 25571
VALORES NULOS egreso 25720

### FECHA DE NACIMIENTO

In [110]:
# Fixing missing values in 'fechaNacimiento'.
df['fechaNacimiento'].fillna('?', inplace=True)

In [113]:
# Let's check if values changed. 
df['fechaNacimiento'].isna().sum()

0

### SEXO

In [114]:
# For 'sex' column lets asumme its something related to 'non binary' comunities. So let's replace missing values 
# with a simple 'Q'.
df['sexo'].fillna('Q', inplace=True)

In [115]:
df['sexo'].value_counts()

M    23826
F    23321
q     9811
Name: sexo, dtype: int64

In [116]:
# Lets make the values a bit smaller as 'Masculino -> M' and 'Femenino -> F'.
df['sexo'].replace({
    'Masculino': 'M',
    'Femenino': 'F',
}, regex=True, inplace=True)

In [117]:
df['sexo'].value_counts()

M    23826
F    23321
q     9811
Name: sexo, dtype: int64

### UNIVERSIDAD

In [124]:
# For this i will replace missing values with a simple '-'. Missing 'University' name means two things: 
# 1- Student did not finish his degre...
# 2- It was not loaded properly.
df['universidad'].fillna('-', inplace=True)

In [125]:
# Let's check the values in the column.
df['universidad'].value_counts()

-                                                                            25571
Universidad Nacional de Asunción                                              9647
Universidad del Norte                                                         4014
Universidad Tecnológica Internacional (UTIC)                                  2473
Universidad Católica Nuestra Sra. de la Asunción                              2368
Universidad Tecnica de Comercialización y Desarrollo                          1778
UNIVERSIDAD SAN LORENZO,UNISAL                                                1096
Universidad Nacional del Este                                                 1088
Universidad Tecnológica Intercontinental                                      1009
Universidad Politécnica y Artística del Py.                                    884
Universidad Privada del Este                                                   766
Universidad Américana                                                          600
UNIVERSIDAD PRIVADA DEL GUAIRA                                                 572
ESCUELA DE DERECHO Y OTRAS UNIDADES PEDAGOGICAS EDUPCA                         548
Universidad Nacional de Pilar                                                  529
Universidad Autónoma de Luque                                                  437
Universidad Columbia del Paraguay                                              391
Universidad Nacional de Itapúa                                                 365
Universidad Autónoma de Asunción                                               344
UNIVERSIDAD INTERNACIONAL TRES FRONTERAS                                       331
Universidad Técnica de Comercialización y Desarrollo (UTCD)                    230
Universidad Católica de Villarrica                                             197
Universidad del Pacífico                                                       188
Universidad Nordeste del Paraguay                                              170
UNIVERSIDAD METROPOLITANA DE ASUNCION                                          169
Universidad de la Integración de las Américas                                  140
Universidad Interamericana                                                     136
UNIVERSIDAD SUDAMERICANA                                                       131
Universidad Iberoamericana                                                     114
UNIVERSIDAD AUTONOMA DEL SUR                                                   108
Universidad Autónoma San Sebastián de San Lorenzo "UASS"                       106
UNIVERSIDAD GRAL ASUNCIÓN.UNIGRAN                                               67
UNIVERSIDAD NIHON GAKKO                                                         62
Universidad Nacional de Caaguazú                                                56
Universidad del chaco                                                           55
Universidad Privada Maria Serrana                                               45
Universidad Autónoma de Encarnación                                             28
Universidad Hispano Guarani                                                     25
Universidad Metropolitana Alma Mater                                            22
Universidad Nacional de Canindeyu                                               18
Universidad Leonardo Da Vinci                                                   17
Universidad del Sol                                                             16
Instituto Superior en Ciencias Juridicas Escuela de Derecho y otros EDUCA       12
Universidad Nacional Villarrica del Espiritu Santo                              11
Universidad Central del Paraguay                                                 6
USCA                                                                             6
UNIVERSIDAD AUTONOMA DEL PARAGUAY                                                4
UNIVERSDIDAD DE PARANAENSE                                                       3
Universidad Inca Garcilaso de la Vega Lima Peru                                  2
Universidad de Desarrollo Sustentable                                            2
Universidad Comunera                                                             1
Name: universidad, dtype: int64

In [126]:
for i in df['universidad'].value_counts().keys(): print(i)

-
Universidad Nacional de Asunción
Universidad del Norte
Universidad Tecnológica Internacional (UTIC)
Universidad Católica Nuestra Sra. de la Asunción
Universidad Tecnica de Comercialización y Desarrollo
UNIVERSIDAD SAN LORENZO,UNISAL
Universidad Nacional del Este
Universidad Tecnológica Intercontinental
Universidad Politécnica y Artística del Py.
Universidad Privada del Este
Universidad Américana
UNIVERSIDAD PRIVADA DEL GUAIRA
ESCUELA DE DERECHO Y OTRAS UNIDADES PEDAGOGICAS EDUPCA
Universidad Nacional de Pilar
Universidad Autónoma de Luque
Universidad Columbia del Paraguay
Universidad Nacional de Itapúa
Universidad Autónoma de Asunción
UNIVERSIDAD INTERNACIONAL TRES FRONTERAS
Universidad Técnica de Comercialización y Desarrollo (UTCD)
Universidad Católica de Villarrica
Universidad del Pacífico
Universidad Nordeste del Paraguay
UNIVERSIDAD METROPOLITANA DE ASUNCION
Universidad de la Integración de las Américas
Universidad Interamericana
UNIVERSIDAD SUDAMERICANA
Universidad Iberoamericana
UNIVERSIDAD AUTONOMA DEL SUR
Universidad Autónoma San Sebastián de San Lorenzo "UASS"
UNIVERSIDAD GRAL ASUNCIÓN.UNIGRAN
UNIVERSIDAD NIHON GAKKO
Universidad Nacional de Caaguazú
Universidad del chaco
Universidad Privada Maria Serrana
Universidad Autónoma de Encarnación
Universidad Hispano Guarani
Universidad Metropolitana Alma Mater
Universidad Nacional de Canindeyu
Universidad Leonardo Da Vinci
Universidad del Sol
Instituto Superior en Ciencias Juridicas Escuela de Derecho y otros EDUCA
Universidad Nacional Villarrica del Espiritu Santo
Universidad Central del Paraguay
USCA
UNIVERSIDAD AUTONOMA DEL PARAGUAY
UNIVERSDIDAD DE PARANAENSE
Universidad Inca Garcilaso de la Vega Lima Peru
Universidad de Desarrollo Sustentable
Universidad Comunera

In [ ]:
replace_dict = {
"Universidad Nacional de Asunción"
"Universidad del Norte"
"Universidad Tecnológica Internacional (UTIC)"
"Universidad Católica Nuestra Sra. de la Asunción"
"Universidad Tecnica de Comercialización y Desarrollo"
"UNIVERSIDAD SAN LORENZO,UNISAL"
"Universidad Nacional del Este"
"Universidad Tecnológica Intercontinental"
"Universidad Politécnica y Artística del Py."
"Universidad Privada del Este"
"Universidad Américana"
"UNIVERSIDAD PRIVADA DEL GUAIRA"
"ESCUELA DE DERECHO Y OTRAS UNIDADES PEDAGOGICAS EDUPCA"
"Universidad Nacional de Pilar"
"Universidad Autónoma de Luque"
"Universidad Columbia del Paraguay"
"Universidad Nacional de Itapúa"
"Universidad Autónoma de Asunción"
"UNIVERSIDAD INTERNACIONAL TRES FRONTERAS"
"Universidad Técnica de Comercialización y Desarrollo (UTCD)"
"Universidad Católica de Villarrica"
"Universidad del Pacífico"
"Universidad Nordeste del Paraguay"
"UNIVERSIDAD METROPOLITANA DE ASUNCION"
"Universidad de la Integración de las Américas"
"Universidad Interamericana"
"UNIVERSIDAD SUDAMERICANA"
"Universidad Iberoamericana"
"UNIVERSIDAD AUTONOMA DEL SUR"
"Universidad Autónoma San Sebastián de San Lorenzo 'UASS'"
"UNIVERSIDAD GRAL ASUNCIÓN.UNIGRAN"
"UNIVERSIDAD NIHON GAKKO"
"Universidad Nacional de Caaguazú"
"Universidad del chaco"
"Universidad Privada Maria Serrana"
"Universidad Autónoma de Encarnación"
"Universidad Hispano Guarani"
"Universidad Metropolitana Alma Mater"
"Universidad Nacional de Canindeyu"
"Universidad Leonardo Da Vinci"
"Universidad del Sol"
"Instituto Superior en Ciencias Juridicas Escuela de Derecho y otros EDUCA"
"Universidad Nacional Villarrica del Espiritu Santo"
"Universidad Central del Paraguay"
"USCA"
"UNIVERSIDAD AUTONOMA DEL PARAGUAY"
"UNIVERSDIDAD DE PARANAENSE"
"Universidad Inca Garcilaso de la Vega Lima Peru"
"Universidad de Desarrollo Sustentable"
"Universidad Comunera"
}
masculinos['universidad'].replace(replace_dict, regex=True, inplace=True)