In [1]:
# Importing Libs
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import numpy

# My Tools
from toolkit.tools import print_column_uniques, make_df, get_column_uniques


%matplotlib inline

In [2]:
plt.rcParams["figure.figsize"] = [12, 7]

In [3]:
sns.set()
sns.set_palette("pastel")

In [4]:
df = pd.read_csv("../enc_devs_py.csv")

In [5]:
from IPython.core.display import HTML as Center

Center(
    """ <style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style> """
)

### Tech Used
- Tecnologias utilizadas por los que respondieron la encuesta.

In [6]:
df.columns

Index(['Marca temporal', 'Modalidad', 'Trabajo', 'Tipo de trabajo', 'DevOps',
       'Codificar por trabajo', 'Experiencia en TI',
       'Experiencia en codificación ',
       'Primera línea de código en una máquina', 'Educación',
       'Carreras o especialidades', 'Importancia educación formal', 'Género',
       'Edad actual ', 'Salario mensual',
       'Programación, scripting y lenguajes de marcado',
       'Librerías o web frameworks',
       'Otras frameworks, librerías y herramientas', 'Base de datos',
       'Plataformas', 'Lenguaje favorito', 'Lenguaje más odiado',
       'Framework favorito', 'Framework más odiado', 'Herramientas'],
      dtype='object')

# Frameworks

In [7]:
df["framworks"] = (
    df["Librerías o web frameworks"] + df["Otras frameworks, librerías y herramientas"]
)

In [8]:
df["framworks"].fillna("Sin Respuesta", inplace=True)

In [9]:
f = get_column_uniques(df, "framworks")

In [10]:
len(f)

90

In [11]:
make_df(df, "framworks")

                   count
cat
JQueryUnity 3D         1
DjangoPandas           4
CodeIgniter.NET        1
CodeIgniterPandas      1
Ansible                6
...                  ...
SymfonyNode.js         7
LaravelPandas          4
Hadoop                12
CakePHPFlutter         1
Flutter               50

[90 rows x 1 columns]